<!DOCTYPE html>
<html lang="en">
<head>
    <title>Announcement: {{ course }}, Sec: {{ sec_no }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" href="{% url 'login-landing' %}">NittanyPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course' course sec_no %}">Info<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'announcements' course sec_no %}">Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assignments' course sec_no %}">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'exams' course sec_no %}">Exams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'grades' course sec_no %}">Grades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'discussion' course sec_no %}">Discussion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Help</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid ">
    <div class="container">
        <h1 class="display-4">Course Announcements</h1>
        <p class="lead">View your course announcements here</p>
    </div>
</div>

<div class="container">
    {% if not isStudent %}
        <form action="{% url 'announcements' course sec_no %}" method="POST" class="post-form">
            <div class="form-group">{% csrf_token %}
                <h2>New post</h2>
                {#            <label for="exampleFormControlTextarea1">Example textarea</label>#}
                <textarea class="form-control" name="announcement_desc" id="announcement_desc"
                          placeholder="Type the message here"
                          rows="3"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    {% endif %}
</div>


<div class="container">
    <br>
    <h2>Recent Announcements</h2>
    {% if announcement_list %}
        <br>
        {% for name, announement_info in announcement_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ name }}:</h5>
                    {#                            <h6 class="card-subtitle mb-2 text-muted">{{ name }}</h6>#}
                    <p class="card-text">{{ announement_info }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>No Announcements have been made yet</p>
    {% endif %}

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>